fail_fast: true
repos:
- repo: local
  hooks:
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [python]
    - id: ssort
      name: ssort
      entry: poetry run ssort
      language: system
      types: [python]
    - id: ruff
      name: ruff
      entry: poetry run ruff check
      language: system
      types: [python]
      args: [--fix]
    - id: pytest
      name: pytest
      entry: poetry run pytest --cov=modules --cov-report=term-missing
      pass_filenames: false
      language: system
      types: [python]
